#H1 {
    font-size: 15px;
    font-weight: bold;
}

#H2 {
    font-size: 20px;
    font-weight: bold;
}

#H3 {
    font-size: 25px;
    font-weight: bold;
}

#H4 {
    font-size: 30px;
    font-weight: bold;
}

#H5{
    font-size: 35px;
    font-weight: bold;
}

#H6{
    font-size: 40px;
    font-weight: bold;
}